body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 100vh;
}

.container {
  text-align: center;
}

.progress_container {
  display: flex;
  justify-content: space-between;
  width: 350px;
  position: relative;
  font-size: 20px;
}

.progress_container::before {
  content: "";
  background-color: #80808057;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: 3.5px;
}

.progress {
  background-color: dodgerblue;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 0;
  height: 4px;
  z-index: -1;
  transition: 0.5s ease;
}

.circle {
  background-color: #ffffff;
  border-radius: 100%;
  border: 2px solid #80808057;
  padding: 0 7px;
  z-index: 2;
}

.active {
  border-radius: 100%;
  border: 4px solid dodgerblue;
  padding: 0 7px;
}

button {
  width: 85px;
  height: 38px;
  margin-top: 16px;
  background-color: dodgerblue;
  border: none;
  border-radius: 20px;
  color: #ffffff;
  font-size: 18px;
  cursor: pointer;
}

button:disabled {
  background-color: rgb(149, 144, 144);
}

.smile {
  position: absolute;
  width: 50px;
  z-index: 3;
  top: -10px;
  left: 0;
  transition: 1s linear;
}
